*{
    padding:0;
    margin: 0;
}
h1{
    font-size: 50px;
    text-align: center;
    color: blue;
    font-family:'Roboto', sans-serif ;
}
h2{
    font-family:'Lato', sans-serif ;
    text-align: center;
    color: blue;
    font-size: 30px;
}
.btm{
    
    padding: 10px;
    font-size: 20px;
  
    border-radius: 2px;
    font-family: 'Lato', sans-serif;
}
.btm:hover{
    background-color: blue;
    cursor: pointer;
    color: white;
}
body{
    text-align: center;
}
